# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.spec

# PyInstaller
*.manifest
*.spec

# Virtual environments
.env
.venv
venv/
ENV/

# Editor directories and files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Output folders
extracted_files/
